body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkslateblue;
  margin: 50px;
  text-align: center;
  font-size: 20px
 
}
body {
background: #b19cd9;
}
a {
  color: darkslateblue;
  background-color: rgb(213, 187, 254);
  font-weight: bold;
  font-size: 40px;
  border-radius: 10%;
}
